html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color:#e3f2fd;
}

/* typography and icons */

h1{
    color: #0F8CDF;
    font-size: 20px;
}

i{
    font-size: 15px;
    cursor: pointer;
}

.fa-solid{
    color: #999;
}

.liked{
    color: red;
}

.retweeted {
  color: limegreen;
}


/* nav */

.nav{
    background-color: white; 
    border-bottom: 3px solid #e7ecef;
    display:flex;
}

.nav-logo{
    width:50px;
    height:50px;
    margin:10px 0 0 13px;
}

.nav > h1{
    padding: 13px;
}


/* layout */

main{
    width: 310px;
    padding:10px 45px;
    margin: 15px auto;
    background-color:white;
    border-radius:15px;
}

.home{
    margin:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 0 15px 0;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */

textarea{
    border: none;
    resize: none;
    padding: 11px;
    margin: 0 5px 20px 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

.btn-class{
    display:flex;
    justify-content:space-between;
    text-align:center;
}

#tweet-btn{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 8px 5px;
    border-radius: 15px;
    width: 50%; 
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
}

.btn-class .tweet-prop-icons i {
    color: #1DA1F2;
    margin:8px 0 6px 10px;
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

/* utility */
.hidden{
    display: none;
}

#tweet-edit {
    display: flex;
    justify-content: right;   
}

#add-img-icon{
    margin: 0 0 15px 70px;
 
}

/* modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
  }

  .inside-modal-tweet-btn{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 8px 5px;
    border-radius: 15px;
    width: 50%; 
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    display: block;
    margin-left:auto;
    margin-right:auto;
  }

  /* modal content/box */

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    height: 20%;
    border-radius:15px;   
  }

  .main-modal-tweet-btn{
    background-color: #1DA1F2;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    margin-left: 80%;
    margin-bottom:1%;
    padding:18px;

  }

  .main-modal-tweet-btn > i{
    margin:3px;
    color:white;
  }

  .main-modal-tweet-btn:hover{
    box-shadow: 0px 0px 20px 1px #adb5bd;
  }
  
  /* close button */

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
